<p>Hello, you have been invited to join {{ companyName }}</p>
<p>Please click below to create an account and begin using Aquawise</p>
<p>
    <a href="{{ url }}">Confirm</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>
